<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
    <link rel="shortcut icon" type="image/png" href="./assets/pokemon_ball_icon.png"/>
  </head>

  <body>
    <header>
      <img src="./assets/pokemon_ball_icon.png" alt="pokedex">
    </header>

    <%= yield %>
  </body>
</html>
